.dFunctionParametersTable {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.dFunctionParametersTable td,
.dFunctionParametersTable th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
}
.dFunctionParametersTable th {
  background: #DFDFDF;
  font-weight: bold;
}
.dFunctionParametersTable td {
  background: #FAFAFA;
}
.dFunctionParametersTable tr:nth-child(even) td {
  background: #F1F1F1;
}
.dFunctionParametersTable tr:nth-child(odd) td {
  background: #FEFEFE;
}
