.dMenu {
}

.dMenu > div {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

.dMenuTab > span
{
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dMenuGroupExpanded::before {
    content: "▼";
}

.dMenuGroupCollapsed::before {
    content: "▶";
}

.dMenuGroupNone::before {
    content: "•";
}